/**
 * Sogeti theme for reveal.js.
 * Author: Maxime Caboche
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(../../lib/font/league-gothic/league-gothic.css);
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');


/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #2b0a3d;
$base00:    #2b0a3d;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #f3f3f3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base00;
$headingColor: $base01;
$headingTextShadow: none;
$backgroundColor: $base3;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;
$mainFont: 'Ubuntu Mono', monospace;
$linkColor: $base00;
$heading1Size: 1.8em;
$heading2Size: 1.5em;
// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal:before {
	content: ' ';
	font-style: italic;
	width: 100%;
	height: 60px;
	background: #ffffff url(https://www.sogeti.com/Static/img/sogeti-logo.svg) no-repeat 15px;
	background-size: 100px;
	position: absolute;
}

.reveal .author {
	text-transform: none;
}